@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montagu+Slab:opsz,wght@16..144,500&family=Montserrat:wght@400;500;600&family=Plus+Jakarta+Sans&family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --header-height: 3.5rem;

    --first-color: #4a61d4;
    --title-color: #0d1745;
    --text-color: #616785;
    --border-color: #d9ddf2;
    --white: #fff;
    --color-body: #ebeeff;
    --container-color: hsl(230, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    }

    /*========== Responsive typography ==========*/
    @media screen and (min-width: 1150px) {
    :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/*====== CONF INICIAL =======*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    text-decoration: none;
    outline: none;
    list-style: none;
    transition: .3s linear;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    background-color: var(--color-body);
    position: relative;
}

section{
    margin: 0 auto;
    padding: 1rem;
    max-width: 2000px;
}

.pre-header{
    text-align: center;
    font-size: .5rem;
    background-color: #d9ddf2;
}

::-webkit-scrollbar{
    height: .5rem;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
    border-radius: 5rem;
}

/*======CABEÇALHO=====*/

.header{
    box-shadow: 5px 5px 10px #888888;
    padding: .5rem;
    z-index: 1000;
    background-color: var(--color-body);
    position: sticky;
    top: 0;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.area-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-logo span.texto{
    cursor: pointer;
    font-size: .8rem;
    font-weight: var(--font-medium);
    color: black;
    text-transform: uppercase;
}

.area-logo span.text-diferente{
    text-transform: lowercase;
    color: var(--first-color);
}

.reverter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-list{
    display: flex;
}

.nav-item{
    margin: 0px .8rem;
}

.navbar-list li a{
    font-weight: var(--font-medium);
    font-size: 1rem;
    color: black;
}

.navbar-list li a:hover{
    color: var(--first-color);
}

#menu-btn{
    cursor: pointer;
    display: none;
}

#menu-btn.fa-times{
    transform: rotate(180deg);
}


.icon-area i{
    margin: 0 1rem;
    font-size: 1.5rem;
}

.icon-area i:hover{
    color: #4a61d4;
}

.secreto{
    display: none;
}



/*==PARALAX==*/

section.paralax{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('imagens/abundant-collection-antique-books-wooden-shelves-generated-by-ai.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.paralax h1, .paralax q{
    color: var(--white);
    font-weight: 900;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Efeito de sombra brilhante */
    margin: .5rem 0;
}


/*====INICIO====*/
.inicio{
    display: flex;
    background-color: var(--color-body);
}

.conteudo{
    border-right: 2px solid rgba(74, 97, 212, 0.1);
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.conteudo .title-inicio{
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: 3.5rem;
}

.text-inicio{
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    color: var(--text-color);
}


.btn-home{
    padding: 1rem;
    border: none;
    background-color: var(--first-color);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}

.btn-home:hover{
    color: var(--first-color);
    background-color: var(--white);
}

.conteudo .title-inicio, .text-inicio, .btn-home{
    margin: 2.5rem 0;
}

.swip{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}

.swip img{
    width: 20%;
}

.swip img:hover{
    transform: scale(1.1);
}


/*==DESCONTO ==*/

.desconto-area{
    height: 25rem;
    background-color: var(--white);
    width: 99%;
    border-radius: 2rem;
    padding: 2rem;
}

.desconto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desconto-title{
    color: var(--first-color);
    margin-bottom: 2rem;
}

.area-desconto-livros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bloco-desconto{
    padding: .5rem;
    height: 15rem;
    background-color: var(--color-body);
    border-radius: .5rem;
    width: 20rem;
    display: flex;
}


.image-discount{
    flex: 1;
    margin-right: 1rem;
}

.conteudo-desconto{
    display: flex;
}

.conteudo-desconto, .conteudo-surpresa{
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}


.conteudo-surpresa{
    display: none;
}

.title-livro-desconto{
    text-transform: uppercase;
    color: var(--first-color);
}

.title-livro-desconto-surpresa{
    color: var(--white);
}


.text-desconto{
    font-size: .6rem;
}
.text-desconto-surpresa{
    font-size: .6rem;
    color: var(--white);
}

.preço1{
    font-size: .7rem;
    color: var(--text-color);
    text-decoration: line-through var(--text-color);
}

.preço2, .preço2-surpresa{
    font-size: 1.5rem;
    font-weight: 800rem;
}

.preço2{
    color: var(--first-color);
}
.preço2-surpresa{
    color: var(--color-body);
}

.desconto-button{
    text-transform: uppercase;
    color: var(--first-color);
    border: 1px solid transparent;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    padding: .2rem;
}

.desconto-button:hover{
    color: white;
    background-color: var(--first-color);
    border: 1px solid var(--white);
}


.bloco-desconto:hover .conteudo-surpresa {
    display: flex;
}

.bloco-desconto:hover .conteudo-desconto {
    display: none;
}

.bloco-desconto:hover{
    background-color: var(--first-color);
}

.bloco-desconto:hover .image-discount {
    transform: translatex(5%);
}

/*==catalogo==*/

.best-seler-area{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.img-best{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-libro-best{
    width: 90%;
}

.conteudo-best{
    flex: 3;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
}

.title-best{
    color: var(--first-color);
    font-size: 1rem;
}

.title-livro-best{
    font-size: var(--h3-font-size);
    color: var(--color-body);
    margin-bottom: 1rem;
}
.resumo-best, .resumo-best2{
    color: var(--color-body);
}

.ultimo, .detalhes-livro{
    margin-bottom: 3rem;
}

.lista-item-livro{
    color: var(--color-body);
}

.preço-best{
    color: var(--color-body);
    font-size: 4rem;
}

.img-libro-best {
    animation: onda 1.5s infinite alternate;
}

@keyframes onda {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(.5rem);
    }
}


.book1-best{
    display: flex;
}

.fa-left-long, .fa-right-long{
    cursor: pointer;
    color: var(--first-color);
}

.book2-best{
    display: none;
}
.lista-info2{
    display: none;
}


/*===REVIEW===*/

.review-slide .slide{
    border-radius: .5rem;
    background-color: var(--border-color);
    padding: 2rem;
    margin: 2rem .5rem;
    user-select: none;
}

.review-slide .slide p{
    line-height: 2;
    font-size: 1rem;
    color: black;
}

.review-slide .slide .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: .6rem;
}

.review-slide .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review-slide .slide .user h3{
    font-size: 2rem;
    color: white;
}

.review-slide .slide .user .stars i{
    font-size: 1.5rem;
    color: var(--first-color);
}

.review-area h1{
    text-align: center;
}

