@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montagu+Slab:opsz,wght@16..144,500&family=Montserrat:wght@400;500;600&family=Plus+Jakarta+Sans&family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --header-height: 3.5rem;

    --first-color: #4a61d4;
    --title-color: #0d1745;
    --text-color: #616785;
    --border-color: #d9ddf2;
    --white: #fff;
    --color-body: #ebeeff;
    --container-color: hsl(230, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    }

    /*========== Responsive typography ==========*/
    @media screen and (min-width: 1150px) {
    :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/*====== CONF INICIAL =======*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    text-decoration: none;
    outline: none;
    list-style: none;
    transition: .2s linear;
}

body{
    background-color: var(--color-body)
}

section{
    margin: 0 auto;
    padding: 1rem;
    max-width: 2000px;
}

.pre-header{
    text-align: center;
    font-size: .5rem;
    background-color: #d9ddf2;
}
/*======CABEÇALHO=====*/

.header{
    box-shadow: 5px 5px 10px #888888;
    padding: .5rem;
    position: relative;
    z-index: var(--z-fixed);
    background-color: var(--color-body);
    position: sticky;
    top: 0;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.area-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-logo span.texto{
    cursor: pointer;
    font-size: .8rem;
    font-weight: var(--font-medium);
    color: black;
    text-transform: uppercase;
}

.area-logo span.text-diferente{
    text-transform: lowercase;
    color: var(--first-color);
}

.area-logo .span-book{
    color: var(--first-color);
    text-transform: uppercase;
}
.icon-dif{
    color: var(--white);
}

.reverter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.area-nav{
    display: flex;
}

.navbar-list{
    display: flex;
}

.nav-item{
    margin: 0px 1rem;
}

.navbar-list li a{
    font-weight: var(--font-medium);
    font-size: 1rem;
    color: black;
}

.navbar-list li a:hover{
    color: var(--first-color);
}

#menu-btn{
    cursor: pointer;
    display: none;
}

#menu-btn.fa-times{
    transform: rotate(180deg);
}


.icon-area i{
    margin: 0 1rem;
    font-size: 1.5rem;
}

.icon-area i:hover{
    color: #4a61d4;
}

.secreto{
    display: none;
}

.inicio{
    position: relative;
    z-index: var(--z-fixed);
    background-color: var(--color-body);
}

/*==PARALAX==*/

section.paralax{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('imagens/abundant-collection-antique-books-wooden-shelves-generated-by-ai.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}

.paralax h1, .paralax q{
    color: var(--white);
    font-weight: 900;
 text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Efeito de sombra brilhante */
  animation: glow 1.5s ease-in-out infinite; /* Animação do brilho */
}

.paralax h1{
    margin-bottom: 1rem;
}

/* Animação do brilho */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }
}

/*====INICIO====*/
.inicio{
    display: flex;
}

.conteudo{
    border-right: 2px solid rgba(74, 97, 212, 0.1);
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.conteudo .title-inicio{
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: 4rem;
    margin-bottom: 5rem;
}

.text-inicio{
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    color: var(--text-color);
    margin-bottom: 5rem;
}


.btn-home{
    padding: 1rem;
    border: none;
    background-color: var(--first-color);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}

.btn-home:hover{
    color: var(--first-color);
    background-color: var(--white);
}

.swip{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}

.swip img{
    width: 20%;
}

.swip img:hover{
    transform: scale(1.1);
    overflow: hidden;
}






/*====MEDIA====*/

@media screen and (max-width: 1200px){
    .conteudo .title-inicio{
        color: var(--title-color);
        font-family: var(--second-font);
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 968px){
    .nav-item{
        margin: 0px .5rem;
    }
    .navbar-list li a{
        font-weight: var(--font-medium);
        font-size: .8rem;
    }
    .conteudo .title-inicio{
        color: var(--title-color);
        font-family: var(--second-font);
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    section.paralax{
        height: 80vh;
    }
}



@media screen and (max-width: 768px){
    .flex{
        flex-direction: row-reverse;
    }

    #menu-btn{
        display: block;
    }



    .navbar-list{
        flex-direction: column;
        position: absolute;
        top: 100%; left: 0; right: 0;
        align-items: center;
        justify-content: center;
        background: var(--color-body);
        clip-path: inset(0 0 100% 0);
        border-top: .4rem solid var(--container-color);
        border-bottom: .4rem solid var(--container-color);
    }

    .navbar-list.active{
        clip-path: inset(0 0 0 0);
    }

    .icon-area i{
        display: none;
    }
    .navbar-list li{
        margin: .5rem 0;
    }
    .secreto{
        display: inline;
    }

    .inicio{
        display: flex;
        flex-direction: column;
    }

    .conteudo{
        border-right:none;
        margin-bottom: 2rem;
        border-bottom: 2px solid rgba(74, 97, 212, 0.1);
    }
    .inicio{
        z-index: 0;
    }
    .text-inicio{
        margin-bottom: 3rem;
    }
    section.paralax{
        height: 60vh;
    }
}
